'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Autosave Onchange'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'autosave-onchange:toggle'
        }
      ]
    ]
  }
]
